// Compile using -> 'sass --watch stylesheets/stylesheet.scss'
//

@import url('reset.css');

body {
 background: #000;
 height: 100%;
 overflow: hidden;
 width: 100%;
}

#kaleidoscope_wrapper {
 font-size: 0;
 line-height: 0;
 overflow: hidden;
 position: absolute;
}

canvas { background: #fff url('../images/background.png') 0 0 repeat }